<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <title>Some website</title>        
    </head>

    <body>
        
        <h1>Updating servers</h1> 

        <p>Sorry for the inconvenience. We'll be back shortly.</p>

        {{> footer}}

    </body>

</html>
