<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
        {{> styles}}        
    </head>

    <body>
        
        {{> header}} 

        <p>{{welcomeProjects}}</p>

        {{> footer}}

    </body>

</html>
